<ion-tabs>
  <ion-tab-bar slot="top">
    <ion-tab-button tab="tab1" href="/tabs/tab1">
      <ion-icon name="planet-outline"></ion-icon>
      <ion-label>Drohne</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs/tab2">
      <ion-icon name="checkbox-outline"></ion-icon>
      <ion-label>Ergebnisse</ion-label>
    </ion-tab-button>

    <!-- Adjust the CSS to position the image on the right side -->
    <ion-img src="assets/logo.png" style="position: absolute; top: 0; right: 0; height: 90%; margin: 5px"></ion-img>
  </ion-tab-bar>
</ion-tabs>
