<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <!-- Left Side (1/5 Width) -->
      <ion-col size-md="3" size="12">
        <ion-card>
          <ion-card-content>
            <!-- Toggle Switch -->
            <ion-item>
              <ion-label>Classification</ion-label>
              <ion-toggle (click)="onToggleClicked()" [(ngModel)]="isDetection"></ion-toggle>
              <ion-label class="ion-text-end">Detection</ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
        <ion-card class="leftSide" *ngIf="isDetection">
          <ion-card-content>
            <!-- Data List and Small Chart -->

            <ion-list>
              <ion-item>Blaue Flaschen - {{numberBlue}}</ion-item>
              <ion-item>Grüne Flaschen - {{numberGreen}}</ion-item>
              <ion-item>Fehlende Deckel - {{numberMissingCap}}</ion-item>
              <ion-item>Fehlende Flaschen - {{numberMissing}}</ion-item>
              <!-- Add more items as needed -->
            </ion-list>
            <div echarts [options]="option" class="chart"></div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <!-- Right Side (4/5 Width) -->
      <ion-col>
        <ion-card class="image-container">
          <ion-card-content>
            <!-- Image (Replace src with your image URL) -->
            <img [src]="imgSource" alt="imageSource">
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
